<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Health Statistics</title>
    <style>
    h1 {text-align: center;}
    </style>
  </head>
  <body>
    <div class="container">
      <canvas id="heartChart"></canvas>
    </div>
    <div class="container">
      <canvas id="bloodChart"></canvas>
    </div>
    <div class="container">
      <canvas id="stepCount"></canvas>
    </div>
    <script>
      let heartChart = document.getElementById('heartChart').getContext('2d');
      let bloodChart = document.getElementById('bloodChart').getContext('2d');
      let hrChart = new Chart(heartChart,{
        type:'line',
        data:{
          labels:{{times}},
          datasets:[{
            label:'Heart Rate (bpm)',
            data:{{heartRate}},
            backgroundColor:'blue',
            borderColor:'blue'
          }]
        },
        options:{}
      });
      let bsChart = new Chart(bloodChart,{
        type:'line',
        data:{
          labels:{{times}},
          datasets:[{
            label:'Blood Saturation (%)',
            data:{{spo2}},
            backgroundColor:'red',
            borderColor:'red'
          }]
        },
        options:{}
      });
      let stepsCtx = document.getElementById('stepCount').getContext('2d');
      stepsCtx.font = "30px Arial";
      stepsCtx.fillText("Steps Taken: "+{{steps}}, 10, 50);
    </script>

  </body>
</html>